<div class="card" style="width: 18rem;">

  <img [src]="foto" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">
      {{ nomeProduto | uppercase}}
    </h5>
    <span *ngIf="promocao; else elseBlock" class="btn btn-success btn-sm">
      Promação
    </span>
    <ng-template #elseBlock>
      <span class="btn btn-warning btn-sm">Aproveite</span>
    </ng-template>
    <p class="card-text">
      Identificação: {{ idProduto }} <br/>
      Promação válida até: {{ dataValidade | date: 'dd/MM/yyyy' }}
    </p>
    <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">R$
      {{ precoProduto }}
    </button>
    </div>
  </div>
</div>
