<h1>Seja bem vindo ao Salad´s</h1>

<h4 class="text-danger">{{ anuncio }}</h4>

<div class="row">
 <div class="col">

<app-card-produto
  [foto]="foto"
  [nomeProduto]="nomeProduto"
  [promocao]="promocao"
  [idProduto]="idProduto"
  [dataValidade]="dataValidade"
  [precoProduto]="precoProduto"
></app-card-produto>

</div>
 <div class="col">

 <app-card-produto
  foto="/assets/img/salada-principal.png"
  nomeProduto="Tábua de Frios"
  dataValidade="2021-08-31"

 ></app-card-produto>
 </div>
</div>

